.header{
    display: grid;
    grid-template-areas: 
    "logo main_page login";
    grid-template-columns: 1fr 5fr 1fr;
    grid-area: h;
    background-color: rgb(77, 167, 170);
  }
  .header img{
    padding: 20px;
    grid-area: logo;
    width: 100px;
  }
  .header p{
    grid-area: main_page;
    font-size: 40px;
    font-style: oblique;
    color: blueviolet;
  }
  .header div{
    grid-area: login;
    font-size: 25px;
    font-style: oblique;
    color: black;
  }
  .header .userPhoto{
    padding: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }