.activePage{
    font-weight: bold;
    color: blueviolet;
}
.paginationTop{
    width: 300px;
    position: relative;
    background-color: cadetblue;
}
.paginationButtonLeft{
    position: absolute;
    left: 0px;
    width: 40px;
    height: 40px;
}
.paginationButtonRight{
    position: absolute;
    right: 0px;
    width: 40px;
    height: 40px;
}
.pageNumbers{
    position: absolute;
    left: 40px;
}


